Repository daks01/lp_primego: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: 'npx prettier --log-level error --write {staged_files}
  
    npx eslint --fix --quiet {staged_files}
  
    '
  stage_fixed: true

stylelint:
  run: 'npx prettier --log-level error --write {staged_files}
  
    npx stylelint --fix --quiet {staged_files}
  
    '
  stage_fixed: true

fix: disabled step 3 styles
  src/components/blocks/react/FittingRoom.module.scss
Due: none

fix shop cart
  lefthook.yml
  src/components/blocks/ShopCart.vue
  src/components/blocks/react/FittingRoom.tsx
  src/layouts/Layout.astro
  src/stores/productListStore.ts
  src/stores/shopCartStore.ts
  src/utils/product-list.js
  src/utils/shopCartImages.js
Due: eslint, stylelint

feat(shopCart): прокидывание в корзину превьюшки модели в нужном цвете
  lefthook.yml
  src/components/blocks/ShopCart.vue
  src/components/blocks/react/FittingRoom.tsx
  src/components/ui/BuyButton.astro
  src/layouts/Layout.astro
  src/stores/productListStore.ts
  src/stores/shopCartStore.ts
  src/utils/product-list.js
  src/utils/shopCartImages.js
Due: eslint, stylelint

fix(shopCart): изменил ключ в localStorage
  src/stores/shopCartStore.ts
Due: eslint

fix(shopCart): order sending
  src/components/blocks/ShopCart.vue
Due: none

fix: цвет кнопки Заказать
  src/assets/css/_common.scss
  src/components/ui/UnderlineClickable.astro
Due: eslint, stylelint

fix: add real photos instead of plug
  src/assets/img/shop/EM24/black/06 заглушка.jpg
  src/assets/img/shop/EM24/black/06.jpg
  src/assets/img/shop/EM24/choco/06 заглушка.jpg
  src/assets/img/shop/EM24/choco/06.jpg
  src/assets/img/shop/EM24/classic/06 заглушка.jpg
  src/assets/img/shop/EM24/classic/06.jpg
  src/assets/img/shop/EM24/rif/06 заглушка.jpg
  src/assets/img/shop/EM24/rif/06.jpg
  src/assets/img/shop/RL24/black/06 заглушка.jpg
  src/assets/img/shop/RL24/black/06.jpg
  src/assets/img/shop/RL24/darkside/06 заглушка.jpg
  src/assets/img/shop/RL24/darkside/06.jpg
  src/assets/img/shop/RL24/lightside/06 заглушка.jpg
  src/assets/img/shop/RL24/lightside/06.jpg
  src/assets/img/shop/RL24/white/06 заглушка.jpg
  src/assets/img/shop/RL24/white/06.jpg
Due: none

fix(mobile): separate photo gallery and measurements demo
  src/components/blocks/react/FittingRoom.module.scss
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/Gallery/FittingRoomGallery.astro
  src/components/content/MeasurementsIllustration.astro
  src/components/content/react/MeasurementsIllustration.module.scss
  src/components/content/react/MeasurementsIllustration.tsx
  src/components/ui/Warning.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

chore(img): upd
  src/assets/img/bg/FFCD01/1_mobile.jpg
  src/components/content/HeroSubPage.astro
Due: eslint, stylelint

chore(content): rename order button, rm price
  src/components/content/Parametrs.astro
Due: eslint, stylelint

chore(text): fix очепятки
  src/components/content/Parametrs.astro
Due: eslint, stylelint

feat(i18n): start
  src/components/blocks/ActionPanel.astro
  src/components/content/HeroSubPage.astro
  src/components/content/Parametrs.astro
  src/components/layout/Header.astro
  src/components/ui/LanguagePicker.astro
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/pages/en/empire.astro
  src/pages/en/fitting/[product].astro
  src/pages/en/index.astro
  src/pages/en/order.astro
  src/pages/en/royal.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

feat(i18n): перевел все astro-компоненты
  .github/workflows/astro.yml
  astro.config.mjs
  src/components/blocks/ActionPanel.astro
  src/components/blocks/FooterForm.astro
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/Convection.astro
  src/components/content/Faq.astro
  src/components/content/FootShape.astro
  src/components/content/Hero.astro
  src/components/content/HeroSubPage.astro
  src/components/content/HowToMeasure.astro
  src/components/content/LimitCollection.astro
  src/components/content/MadeInRussia.astro
  src/components/content/NanoTextiles.astro
  src/components/content/Parametrs.astro
  src/components/content/SocialOnMobile.astro
  src/components/content/react/MeasurementsIllustration.tsx
  src/components/layout/Footer.astro
  src/components/layout/Header.astro
  src/components/ui/BackButton.astro
  src/components/ui/Dialog.astro
  src/components/ui/Html.astro
  src/components/ui/LanguagePicker.astro
  src/components/ui/SocialList.astro
  src/components/ui/SwappableHeader.astro
  src/i18n/locales/en.js
  src/i18n/locales/ru.js
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/Head.astro
  src/layouts/Layout.astro
  src/pages/_login.astro
  src/pages/empire.astro
  src/pages/fitting/[product].astro
  src/pages/index.astro
  src/pages/royal.astro
  src/utils/product-list.js
Due: eslint, stylelint

Update en.js - few translation fix
  src/i18n/locales/en.js
Due: eslint

feat(i18n): sitemap - add locales && hide profile
  astro.config.mjs
  src/pages/_profile.astro
Due: eslint, stylelint

feat(ui): language switcher
  src/components/ui/LanguagePicker.astro
Due: eslint, stylelint

chore(i18n): fix texts
  src/components/content/Parametrs.astro
  src/i18n/locales/en.js
  src/i18n/utils.ts
  src/pages/fitting/[product].astro
Due: eslint, stylelint

fix(ui): language switcher hover and active
  src/components/ui/LanguagePicker.astro
Due: eslint, stylelint

fix(mobile): ios crop overflow: initial
  src/components/layout/Header.astro
Due: eslint, stylelint

fix(mobile): try fix 2
  src/components/layout/Header.astro
Due: eslint, stylelint

fix(i18n): mobile logo
  src/components/layout/Header.astro
  src/components/ui/LogoMobile.astro
Due: eslint, stylelint

feat(i18n): курс доллара с ЦБРФ
  .env
  backend/googleAppScriptBackend.gs
  src/components/blocks/ShopCart.vue
  src/stores/shopCartStore.ts
  src/utils/format.js
  src/utils/routes.js
Due: eslint

fix(ui): hide price, upd gs
  .env
  backend/googleAppScriptBackend.gs
  src/components/blocks/ShopCart.vue
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/react/MeasurementsIllustration.tsx
Due: none

chore(gs): deploy backend prod
  .env
Due: none

fix(fitting): recommended size algorithm
  src/components/blocks/react/FittingRoom.module.scss
  src/components/blocks/react/FittingRoom.tsx
  src/i18n/locales/en.js
  src/pages/fitting/[product].astro
Due: eslint, stylelint

feat(i18n): fitting, order, delivery dialog
  src/components/blocks/ShopCart.vue
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/Convection.astro
  src/components/content/DeliveryText.astro
  src/components/content/Faq.astro
  src/components/content/MadeInRussia.astro
  src/components/content/NanoTextiles.astro
  src/components/layout/Footer.astro
  src/components/layout/Header.astro
  src/i18n/locales/en.js
Due: eslint, stylelint

Update en.js
  src/i18n/locales/en.js
Due: eslint

fix: wording
  src/components/blocks/react/FittingRoom.tsx
  src/i18n/locales/en.js
  src/pages/fitting/[product].astro
Due: eslint, stylelint

add cursor: grap
  src/components/content/Hero.astro
Due: eslint, stylelint

cursor: grab 2
  src/components/content/Gallery/CarouselGallery.astro
Due: eslint, stylelint

Revert "cursor: grab 2"
  src/components/content/Gallery/CarouselGallery.astro
Due: eslint, stylelint

fix(ui): revert price in fitting room, change order button text
  src/components/blocks/ShopCart.vue
  src/components/blocks/react/FittingRoom.module.scss
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/Parametrs.astro
  src/i18n/locales/en.js
  src/stores/shopCartStore.ts
Due: eslint, stylelint

fix(fitting): recommended size algorithm
  src/components/blocks/react/FittingRoom.module.scss
  src/components/blocks/react/FittingRoom.tsx
  src/i18n/locales/en.js
  src/pages/fitting/[product].astro
  src/stores/fittingProductStore.ts
Due: eslint, stylelint

fix(fitting): footprint more real
  src/components/content/react/MeasurementsIllustration.tsx
Due: none

fix(fitting): unique sole for each model
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/react/MeasurementsIllustration.module.scss
  src/components/content/react/MeasurementsIllustration.tsx
  src/pages/fitting/[product].astro
Due: eslint, stylelint

fix(fitting): change insole label
  src/components/content/react/MeasurementsIllustration.tsx
Due: none

Path conditions:
  eslint: any of: *.{js,ts,astro,json} and ^src/
  stylelint: any of: *.{css,astro} and ^src/
