Repository daks01/lp_primego: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      root: "src"
      glob: "*.{js,ts,astro,json}"
      run: |
        npx prettier --log-level error --write {staged_files}
        npx eslint --fix --quiet {staged_files}
      stage_fixed: true
    stylelint:
      root: "src"
      glob: "*.{css,astro}"
      run: |
        npx prettier --log-level error --write {staged_files}
        npx stylelint --fix --quiet {staged_files}
      stage_fixed: true

feat: add product photos
  src/assets/img/shop/EM24/black/01.jpg
  src/assets/img/shop/EM24/black/02.jpg
  src/assets/img/shop/EM24/black/03.jpg
  src/assets/img/shop/EM24/black/04.jpg
  src/assets/img/shop/EM24/black/05.jpg
  src/assets/img/shop/EM24/choco/01.jpg
  src/assets/img/shop/EM24/choco/02.jpg
  src/assets/img/shop/EM24/choco/03.jpg
  src/assets/img/shop/EM24/choco/04.jpg
  src/assets/img/shop/EM24/choco/05.jpg
  src/assets/img/shop/EM24/classic/01.jpg
  src/assets/img/shop/EM24/classic/02.jpg
  src/assets/img/shop/EM24/classic/03.jpg
  src/assets/img/shop/EM24/classic/04.jpg
  src/assets/img/shop/EM24/classic/05.jpg
  src/assets/img/shop/EM24/rif/01.jpg
  src/assets/img/shop/EM24/rif/02.jpg
  src/assets/img/shop/EM24/rif/03.jpg
  src/assets/img/shop/EM24/rif/04.jpg
  src/assets/img/shop/EM24/rif/05.jpg
  src/assets/img/shop/RL24/black/01.jpg
  src/assets/img/shop/RL24/black/02.jpg
  src/assets/img/shop/RL24/black/03.jpg
  src/assets/img/shop/RL24/black/04.jpg
  src/assets/img/shop/RL24/black/05.jpg
  src/assets/img/shop/RL24/darkside/01.jpg
  src/assets/img/shop/RL24/darkside/02.jpg
  src/assets/img/shop/RL24/darkside/03.jpg
  src/assets/img/shop/RL24/darkside/04.jpg
  src/assets/img/shop/RL24/darkside/05.jpg
  src/assets/img/shop/RL24/lightside/01.jpg
  src/assets/img/shop/RL24/lightside/02.jpg
  src/assets/img/shop/RL24/lightside/03.jpg
  src/assets/img/shop/RL24/lightside/04.jpg
  src/assets/img/shop/RL24/lightside/05.jpg
  src/assets/img/shop/RL24/white/01.jpg
  src/assets/img/shop/RL24/white/02.jpg
  src/assets/img/shop/RL24/white/03.jpg
  src/assets/img/shop/RL24/white/04.jpg
  src/assets/img/shop/RL24/white/05.jpg
Due: none

fix: deploy to stage
  .github/workflows/astro.yml
Due: none

fix: add deps
  package-lock.json
  package.json
Due: none

fix: not loaded images
  src/components/content/Gallery/FittingRoomGallery.astro
Due: eslint, stylelint

fix: not loaded images 2
  src/components/content/Gallery/FittingRoomGallery.astro
Due: eslint, stylelint

fix: increase css specificity
  src/pages/shop/[product].astro
Due: eslint, stylelint

fix: add color picker interaction
  src/components/blocks/react/FittingRoom.tsx
  src/stores/shopProductStore.ts
Due: eslint

fix: styles
  src/components/blocks/react/FittingRoom.module.scss
  src/pages/shop/[product].astro
Due: eslint, stylelint

feat(animation): add 3d-view
  .gitattributes
  README.md
  package-lock.json
  package.json
  public/video/README.md
  public/video/hevc.mov
  public/video/original.webm
  public/video/vp9.webm
  src/components/content/Gallery.astro
  src/components/content/Hero.astro
  src/components/content/HeroSubPage.astro
  src/components/content/LimitCollection.astro
Due: eslint, stylelint

feat(CI): add git lfs to jobs
  .github/workflows/astro.yml
  .github/workflows/astro_prod.yml
Due: none

chore(animation): compress video 4 Safari
  public/video/hevc.mov
Due: none

fix(animations): safari transparent video
  src/components/content/Hero.astro
Due: eslint, stylelint

fix(animation): safari on iOS
  src/components/content/Hero.astro
Due: eslint, stylelint

fix(animation): autoplay stop on iOS, fix scrollPos calc
  src/components/content/Hero.astro
Due: eslint, stylelint

fix(animations): try hide play button in iOS (when power saving mode is ON)
  src/components/content/Hero.astro
Due: eslint, stylelint

fix(retina): upd img size
  src/pages/shop/[product].astro
Due: eslint, stylelint

fix(animations): add default poster, add rotation on load, refactoring
  src/assets/img/hero-slider/video-poster.png
  src/components/content/Hero.astro
Due: eslint, stylelint

fix(optimization): optimize large img file
  src/components/content/Parametrs.astro
  src/components/ui/BuyButton.astro
Due: eslint, stylelint

fix: update photos
  src/assets/img/shop/EM24/black/01.jpg
  src/assets/img/shop/EM24/black/02.jpg
  src/assets/img/shop/EM24/black/03.jpg
  src/assets/img/shop/EM24/black/04.jpg
  src/assets/img/shop/EM24/black/05.jpg
  src/assets/img/shop/EM24/choco/01.jpg
  src/assets/img/shop/EM24/choco/02.jpg
  src/assets/img/shop/EM24/choco/03.jpg
  src/assets/img/shop/EM24/choco/04.jpg
  src/assets/img/shop/EM24/choco/05.jpg
  src/assets/img/shop/EM24/classic/01.jpg
  src/assets/img/shop/EM24/classic/02.jpg
  src/assets/img/shop/EM24/classic/03.jpg
  src/assets/img/shop/EM24/classic/04.jpg
  src/assets/img/shop/EM24/classic/05.jpg
  src/assets/img/shop/EM24/rif/01.jpg
  src/assets/img/shop/EM24/rif/02.jpg
  src/assets/img/shop/EM24/rif/03.jpg
  src/assets/img/shop/EM24/rif/04.jpg
  src/assets/img/shop/EM24/rif/05.jpg
Due: none

fix: delete unused gold color
  src/components/blocks/react/FittingRoom.module.scss
  src/stores/productListStore.ts
Due: eslint

fix: replace legacy end with flex-end
  src/components/content/Hero.astro
  src/components/layout/Footer.astro
  src/components/ui/BackgroundText.astro
Due: eslint, stylelint

fix: how to measure article
  src/components/content/HowToMeasure.astro
Due: eslint, stylelint

fix: unloaded data on first load
  src/components/blocks/react/FittingRoom.tsx
  src/stores/productListStore.ts
Due: eslint

feat: measurements presentation section
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/Gallery/FittingRoomGallery.astro
  src/components/content/MeasurementsIllustration.astro
  src/pages/fitting/[product].astro
  src/stores/shopProductStore.ts
Due: eslint, stylelint

fix: add image plug
  src/assets/img/shop/EM24/black/06 заглушка.jpg
  src/assets/img/shop/EM24/choco/06 заглушка.jpg
  src/assets/img/shop/EM24/classic/06 заглушка.jpg
  src/assets/img/shop/EM24/rif/06 заглушка.jpg
  src/assets/img/shop/RL24/black/06 заглушка.jpg
  src/assets/img/shop/RL24/darkside/06 заглушка.jpg
  src/assets/img/shop/RL24/lightside/06 заглушка.jpg
  src/assets/img/shop/RL24/white/06 заглушка.jpg
Due: none

fix: move from /shop to /fitting
  src/components/ui/SwappableHeader.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

fix: nanostore instead of react store
  src/components/blocks/react/FittingRoom.tsx
  src/stores/shopProductStore.ts
Due: eslint

fix: correct color icons
  src/components/blocks/react/FittingRoom.module.scss
Due: none

fix: measurements presentation
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/Gallery/FittingRoomGallery.astro
  src/components/content/MeasurementsIllustration.astro
  src/pages/fitting/[product].astro
  src/stores/fittingProductStore.ts
  src/stores/shopProductStore.ts
Due: eslint, stylelint

fix: shoe sole color & add additional space for sole
  src/assets/css/_variables.scss
  src/components/content/MeasurementsIllustration.astro
Due: eslint, stylelint

fix: fixes
  src/assets/img/measure-help/step-1.svg
  src/assets/img/measure-help/step-2.svg
  src/assets/img/measure-help/step-3.svg
  src/assets/img/measure-help/step-4.svg
  src/components/content/Gallery/FittingRoomGallery.astro
  src/components/content/HowToMeasure.astro
  src/components/content/MeasurementsIllustration.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

feat: mobile
  src/components/content/MeasurementsIllustration.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

fix: mobile
  src/components/content/MeasurementsIllustration.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

refactor: refactor
  src/pages/fitting/[product].astro
Due: eslint, stylelint

fix: hide size warning
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/MeasurementsIllustration.astro
  src/stores/fittingProductStore.ts
Due: eslint, stylelint

fix: disable step 3 until step 2 is completed
  src/components/blocks/react/FittingRoom.module.scss
  src/components/blocks/react/FittingRoom.tsx
Due: none

fix: swappable title
  src/components/ui/ArrowButton.astro
  src/components/ui/SwappableHeader.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint

feat: integration with cart
  src/components/blocks/ActionPanel.astro
  src/components/blocks/react/FittingRoom.tsx
  src/components/content/HeroSubPage.astro
  src/components/content/Parametrs.astro
  src/components/layout/Header.astro
  src/pages/fitting/[product].astro
  src/pages/order.astro
Due: eslint, stylelint

fix: rulers
  src/components/content/MeasurementsIllustration.astro
Due: eslint, stylelint

fix: remove sneaker in SwappableHeader
  src/components/ui/SwappableHeader.astro
  src/pages/fitting/[product].astro
Due: eslint, stylelint
